<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生成された予定- スキマ時間</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>生成された予定</h1>
    </header>
    <main>
        <section>
            <h2>以下のタスクが選ばれました({{ sukima_time }}分)</h2>
            <ul class="task-list">
                {% if plan %}
                    {% for task in plan %}
                    <li>
                        <span>{{ task.name }}</span>
                        <span>{{ task.time }}分</span>
                    </li>
                    {% endfor %}
                {% else %}
                    <li>適切なタスクの組み合わせが見つかりませんでした。</li>
                {% endif %}
            </ul>
            <form action="/regenerate_plan/{{sukima_time}}" method="GET">
                <button type="submit">前回と同じ時間で再生成</button>
            </form>
            <a href="/" class="button">ホームに戻る</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 スキマ時間</p>
    </footer>
</body>
</html>
